body {
    background-color: purple;
    font-family: Arial, sans-serif;
}
h1 {
    color: lemonchiffon;
    text-align: center;
    text-decoration: underline;
    
   
}
h2 {
    color: white;
    padding-bottom: 20px;
    font-weight: bold;
    font-style: italic;
    font-size: medium;
}

p {
    color: cyan;
    font-family: dancing script, cursive;
    padding-bottom: 1%;

}

ul {
    color: cyan;
    font-family: dancing script, cursice;
    padding-left: 10%;
    padding-bottom: 1%;
    list-style: circle;
}
a {
    color: cyan;
    text-decoration: none;
    font-family: times new roman, serif;
    padding-bottom: 1%;
}